<!-- container template start -->
	<div id="<%= container %>" class="<%= container %>"></div>
<!-- container template end -->


<!-- button template start -->
	<a href="javascript:;" class="comment-button"><%= label %></a>
<!-- button template end -->


<!-- list template start -->
	<div class="comments-list">
	<% if (_.size(comments)) { %>
		<ul class="items">
		<% _.each(comments,function(item,key){ %>
			<li>
				<%= key %>
				<% if (item.children && _.size(item.children)) { %>
				<ul class="items">
					<% _.each(item.children,function(child,key){ %>
						<li><%= key %></li>
					<% }) %>
				</ul>
				<% } %>
			</li>
		<% }) %>
		</ul>
	<% } %>
	</div>
<!-- list template end -->


<!-- comment template start -->
	<li class="item">
		<img src="http://www.gravatar.com/avatar/2c2d85bb21e34707bc58dfc2905226be?s=50">
		<p class="author">Greg</p>
		<p class="message">Provident, reiciendis, incidunt, praesentium, expedita harum vel cumque molestiae fugit in nostrum eveniet.</p>
	</li>
<!-- comment template end -->
