@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body { margin: 0; padding: 0;
	font-family: 'Droid Sans', sans-serif; text-align: center; }

img { max-width: 100%; }

.page { margin: 20px auto; width: 700px;
	text-align: left; }

.comments-container .comment-button { position: absolute; width: 24px; height: 24px; background: url(../img/ico_off.png) 50% 0; border: 0; cursor: pointer;
	font-size: .7em; line-height: 1.9em; color: white; text-decoration: none; }
.comments-container .comment-active { background-image: url(../img/ico_over.png); }
.comments-list { position: absolute; display: none; padding: 2px 4px; width: 300px; background-color: #cccccc; background-color: rgba(204, 204, 204, .5); border-right: 3px solid #aaa;
	text-align: left; }
.comments-list ul { margin: 0; padding: 0; }
.comments-list ul ul { margin: 0 0 0 20px; padding: 0; }
.comments-list li { margin: 2px 0; padding: 5px; min-height: 50px; background-color: white; list-style-type: none;
	font-family: 'Droid Sans', sans-serif; }
.comments-list li+li { margin-top: 5px; }
.comments-list .itemChild { margin: -5px 0 5px; padding-left: 15px; }
.comments-list img { float: left; margin: -5px 5px 5px -5px; }
.comments-list p { margin: 0; padding: 0;
	 color: #333333; }
.comments-list .author { font-size: 10px; font-weight: bold; }
.comments-list .message { font-size: 12px; }